@import "../variables/variable";
@import "../mixins/mixin";
nav{
    .navbar-brand{
        font-family: $brand_font;
        font-weight: 700;
        font-size: 70px;
        font-style: italic;
        text-transform: capitalize;
    }
    .nav_list{
        gap: 20px;
        li{
            a{
                @include descrip ($fw: 400 , $fs: 15px);
                text-transform: capitalize;
                border-radius: 5px;
                transition: .3s;
                &:hover{
                    color: white;
                    background-color: $secondery_color;
                }
            }
        }
    }
    .log_reg{
        a{
            @include descrip ($fw: 400 , $fs: 18px);
            padding: 8px 20px;
            border-radius: 5px;
            transition: .3s;
            &:hover{
              color: white;
              background-color: $secondery_color;
            }
        }
    }
}